/*
Author: Carlgi Henrique, @KugiHaito
Github: https://github.com/KugiHaito
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*  Extra Especifications  */
:root {
    --theme-color: #DD6387;
}

::-webkit-scrollbar {
    background: #181A1B;
    width: 8px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: #181A1B;
}

::-webkit-scrollbar-thumb {
    background: var(--theme-color);
}

::selection {
    background: rgba(0, 0, 0, .3);
}

/*  Reset  */
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: #181A1B;
    color: #cecece;
}

h1 {
    margin: 10px 0;
}

a,
button {
    background-color: none;
    text-decoration: none;
    color: inherit;
}

a:hover,
a:focus {
    color: var(--theme-color);
}

/*  Layout  */
main {
    margin-top: 58px;
    padding: 0 10rem;
}

main > div {
    padding: 0 20px;
}

@media (max-width: 996px) {
    main {
        padding: 0 1rem;
    }
}

img {
    max-width: 100%;
}

@media (max-width: 500px) {
    main {
        padding: 0 10px;
    }
}

.articles {
    width: 100%;
    padding-bottom: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
}

.articles > a {
    border: solid 2px var(--theme-color);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

.articles > a > article {
    padding: 1rem;
}

.articles > a > article > h3 {
    color: var(--theme-color);
}

.avatar {
    float: left;
    width: 70px;
    height: 70px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.details {
    padding: 20px 20px;
    margin: 10px 0;
    font-size: 17px;
    background: rgba(0, 0, 0, .3);
    font-family: monospace;
    border-radius: 5px;
    overflow-x: auto;
}

section > address {
    clear: both;
}

.details .item .material-icons {
    font-size: 19px;
    padding: 0px 6px;
}

.details .item {
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

.content {
    padding: 0 20px;
}

.content .content {
    padding: 10px 0;
}

.content .content:first-child {
    padding-top: 40px
}

.content .content:last-child {
    padding-bottom: 40px
}

.content-flex .content {
    padding: 5px;
}

.content-flex .content:first-child {
    padding-top: 20px
}

.content-flex .content:last-child {
    padding-bottom: 20px
}

@media(max-width: 768px) {
    .content {
        padding: 10px;
    }

    .content .content {
        padding: 5px 0;
    }

    .content .content:first-child {
        padding-top: 20px
    }

    .content .content:last-child {
        padding-bottom: 20px
    }
}

/* Font Sizes */
.headline-1 {
    font-size: 140px;
    font-weight: 200;
    line-height: 6rem;
}

.headline-2 {
    font-size: 42px;
}

.headline-3 {
    font-size: 32px;
}

.headline-4 {
    font-size: 28px;
}

.headline-5 {
    font-size: 24px;
}

.headline-6 {
    font-size: 22px;
}

.title {
    font-size: 30px;
}

.lead {
    padding: 20px 0;
    font-size: 1.45rem;
    font-weight: 300;
}

.subtitle-1 {
    font-size: 18px;
}

.subtitle-3 {
    font-size: 14px;
}

.text-light {
    font-weight: 100;
}

.text-monospace {
    font-family: monospace;
}

.color-theme {
    color: var(--theme-color);
}

.tag {
    display: inline-block;
    margin: 3px 3px;
    padding: 2px 5px;
    border: 2px solid var(--theme-color);
    color: var(--theme-color);
    border-radius: 5px;
}

.fixed-header {
    width: 100%;
    background: #121212;
    position: fixed;
    top: 0;
}

.top-buttons {
    display: flex;
    width: 100%;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding: 10px 20px;
}

.top-buttons .material-icons {
    margin: 0 5px;
}

@media (max-width: 1920px) {
    .articles {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(max-width: 1400px) {
    .articles {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*  Responsive by Media Queries */
@media(max-width: 940px) {
    .headline-1 {
        font-size: 96px;
        line-height: 4rem;
    }
}

@media(max-width: 768px) {
    .headline-1 {
        font-size: 80px;
        line-height: 3rem;
    }
    .details {
        padding: 10px 10px;
    }
}

@media(max-width: 640px) {
    .headline-1 {
        line-height: 2rem;
        font-size: 62px;
    }

    .subtitle-1 {
        font-size: 14px;
    }

    .tag {
        font-size: 14px;
    }

    .lead {
        font-size: 1rem;
    }

    .details {
        font-size: 14px;
        padding: 10px 10px;
    }
    .articles {
        grid-template-columns: 1fr;
    }

    .top-buttons>a {
        padding: 10px 20px;
        font-size: 12px;
    }

    main {
        padding-top: 30px;
    }
}

@media(max-width: 420px) {
    .headline-1 {
        font-size: 54px;
    }

    .tag {
        font-size: 12px;
    }

    .details {
        font-size: 10px;
        padding: 10px;
    }
}

@media(max-width: 280px) {
    .headline-1 {
        font-size: 48px;
    }

    .subtitle-1 {
        font-size: 12px;
    }

    .tag {
        font-size: 8px;
    }

    .details {
        padding: 10px;
    }
}

@media (max-height: 500px) {
    main {
        height: calc(100% + 50px);
    }
}

@media(max-width: 420px) and (orientation: landscape) {
    main {
        height: calc(100% + 240px);
    }
}
