@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {
  color: #111213;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #111213;
  border-radius: 10px;
  border: 2px solid #ec8daf;
}

@keyframes skeleton {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: -200%;
  }  
}

@layer components {
  .animate-skeleton {
    animation: skeleton 1s linear infinite;
    background-color: #111213;
    background: linear-gradient(110deg, #111213 25%, #ec8daf63 37%, #111213 63%);
    background-size: 200%;
  }
}
