@import "tailwindcss";

@theme {
  --color-black: #111213;
  --color-black-light: #292a2b;
  --color-primary: var(--color-purple-400);
}

* {
  font-family: 'Outfit', sans-serif;
}

body {
  color: #111213;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #111213;
  border-radius: 10px;
  border: 2px solid #ffffff;
}
